@font-face {
    font-family: 'Burbank';
    src: url('BurbankBigCondensed-Bold.otf');
}

ion-card {
    position: relative;
    margin-top: 100px;
}

.mainCard {
    margin-top: 7em;
    font-family: 'Luckiest Guy', cursive;
}

.card-title {
    position: absolute;
    top: 0.5em;
    font-size: 2.5em;
    margin-left: 20px;
    font-weight: bold;
    color: yellow;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 400;
}

.card-subtitle {
    font-size: 1.2em;
    position: absolute;
    top: 3.2em;
    margin-left: 22px;
    color: #fff;
}

.kdratio {
    top: 4.7em;
}

.matchesPlayed {
    top: 6.2em;
}

.accountLevel {
    position: absolute;
    top: 2.8em;
    left: 68%;
    font-size: 2.0em;
    margin-left: 20px;
    font-weight: bold;
    color: #FFE470;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 400;
}

.accountLevel2 {
    color: #FFE470;
    font-size: 1.2em;
    top: 6.2em;
    font-weight: 100;
    width: 100%;
    left: 55%;
}

.soloCard .card-title {
    color: #FF942E;
}

.top3 {
    position: absolute;
    font-size: 1.6em;
    top: 2.5em;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

.top3container {
    background-color: rgba(255, 255, 255, 1);
}

.top3div {
    margin-top: 0.1em;
    font-size: 1.2em;
    color: white;
}

.top3title {
    font-size: 1.3em;
    color: yellow;
}

.soloStats {
    position: absolute;
    color: #fff;
    font-size: 1.2em;
    top: 5.5em;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

.iconContainer {
    position: relative;
    text-align: center;
    width: 100%;
}

.svgIcon {
    position: absolute;
    width: 2em;
    margin: auto;
    top: 2em;
    left: 0;
    right: 0;
    bottom: 0;
}

.iconDesc {
    margin-top: 0.2em;
}

.soloStatsdiv {
    margin-top: 2.4em;
}

.firstLineSolo {
    margin-top: 2.5em;
}

.secondLineSolo {
    margin-top: 1em;
}

.toolbarMode {
    top: 4em;
}

.soloCard {
    backround-color: rgba(0,0,0,  0.1);
}

.errorCard {
    margin-top: 7em;
    font-family: 'Luckiest Guy', cursive;
}

.errorTitle {
    position: absolute;
    top: 2em;
    font-size: 2em;
    margin-left: 20px;
    font-weight: bold;
    color: red;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 400;
}

.no-scroll .scroll-content{
    overflow: hidden;
  }

